.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#timesheet-table {
  min-width: 500px;
  th {
    padding: 3px 15px;
    font-size: 2rem;
  }
  td {
    padding: 3px 15px;
    font-size: 1.6rem
  }
  margin-bottom: 2rem;
}
