.weploy_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: auto;
  margin-bottom: 2rem;

  label {
    // margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  
  .start-time, .date, .end-time {
    // margin-bottom: 1rem;
    // padding: 0.5rem;
    font-size: 1.6rem;
  }

}
