<div class="page-container">
  <h1>My Timesheets</h1>
  <% if @timesheets.empty? %>
    <h2>No timesheets</h2>
  <% else %>
    <%= render 'timesheets_table' %>
  <% end %>
  <%= link_to 'Create a New Timesheet', {controller: 'timesheets', action: 'new'}, class: 'weploy-button-green' %>
</div>
