<div class="page-container">
  <%= link_to 'Create a New Timesheet', {controller: 'timesheets', action: 'new'}, class: 'weploy-button-green' %>
  <h1>My Timesheets</h1>
  <%= render 'timesheets_table' %>
</div>
