

<div class="page-container">
  <h1>Create a New Timesheet</h1>
  <form class="weploy-form" action="<%= create_timesheet_path %>" method="POST">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
    
    <label for="date">Date</label>
    <input type="date" name="date" id="date" />

    <label for="start_time">Start Time</label>
    <input type="time" name="start_time" id="start_time" /> 

    <label for="end_time">End Time</label>
    <input type="time" name="end_time" id="end_time" />

    <input class="create-button" type="submit" value="Create" id="submit" />
  </form> 

  <%= link_to "Back to Timesheets", {controller: 'timesheets', action: 'index'}, class: 'weploy-button green' %>
</div>


<script>
  const date = document.querySelector('#date');
  const startTime = document.querySelector('#start_time');
  const endTime = document.querySelector('#end_time');
  const cache = document.querySelector('#cache');
  const submitButton = document.querySelector('#submit'); 
  submitButton.addEventListener('click', (event) => {
    cache.value = JSON.stringify({ date: date.value, start_time: startTime.value, end_time: endTime.value })
  })
</script>