/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import 'bootstrap';
@import './styles/new.scss';

body {
  font-family: 'Assistant', sans-serif;
  margin: 0px;
  padding: 0px;
  background: var(--mywhite);
  
  a {
    color: var(--purple);
    text-decoration: none;
  }
}

.alert errors {
  margin: 2px;
  padding: 2px;
  width: 80%;
  background: var(--light-pink);
  color: var(--myblack);
}

.weploy-button green {
  background: var(--green);
  color: var(--mywhite);
  border-radius: 30px;
  padding: 3px 15px;
  font-size: 18px;
}

.weploy-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  
  label {
    margin-bottom: 10px;
    font-size: 20px;
  }
  input {
    margin-bottom: 10px;
    padding: 5px;
  }
}

:root {
  /*  colours  */
  --purple: #3438AF;
  --green: #48BEAA;
  --light-green: #C8EBE5;
  --pink: #FF00B3;
  --light-pink: #FFE2F6;
  --myblack: #333333;
  --gray: #7F7B7B;
  --mywhite: #FBFBFB;
}
