/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "bootstrap";
@import "./styles/new.scss";
@import "./styles/index.scss";
@import "./styles/new_timesheet_form.scss";

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Assistant', sans-serif;
  margin: 0px;
  padding: 0px;
  background: var(--mywhite);  
}

h1 {
  font-size: 3rem;
}

a {
  color: var(--purple);
}

a:hover {
  text-decoration: none;
}


.errors, .warning {
  margin: 0.2rem;
  padding: 0.2rem;
  width: 80%;
  background: var(--light-pink);
  color: var(--myblack);
}

.success {
  margin: 0.2rem;
  padding: 0.2rem;
  width: 80%;
  background: var(--light-green);
  color: var(--myblack);
}

.weploy-button-green {
  background: var(--green);
  color: var(--mywhite);
  border-radius: 3rem;
  padding: 3px 15px;
  font-size: 1.8rem;
}

.weploy-button-green:hover {
  color: white;
}

:root {
  /*  colours  */
  --purple: #3438AF;
  --green: #48BEAA;
  --light-green: #C8EBE5;
  --pink: #FF00B3;
  --light-pink: #FFE2F6;
  --myblack: #333333;
  --gray: #7F7B7B;
  --mywhite: #FBFBFB;
}
